@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Oswald:wght@200..700&family=Sedan:ital@0;1&display=swap');

* {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(./img/fondo.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.contenedor {
    position: relative;
    width: 450px;
    border: 2px solid rgb(172, 164, 164);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor h1 {
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
    margin: 10px;
}

.input-contenedor {
    padding-top: 10px;
    padding-left: 50px;
    position: relative;
    margin: auto;
    width: 300px;
    border-bottom: 2px solid #ffffff;
}

.input-contenedor label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}

input:focus~label,
input:valid~label {
    top: -5px;
    left: 10px;
    font-size: 20px;
    color: #e90606;
}

.input-contenedor input {
    width: 140px;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #fff
}

.input-contenedor span {
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

button {
    position: relative;
    margin: 20px;
    width: 80%;
    height: 35px;
    border-radius: 20px;
    background: #817f7f;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

button:hover {
    opacity: .7;
}